body {
    /* width: 70%; */
    font-family: sans-serif;
}

h1 {
    font-family: Poppins;
    color: blue;
    text-align: start;
    padding: 20px 10px;
    margin: auto;
}

nav {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

ul {
    border: 1px solid black;
    flex: 1;
    justify-content: space-evenly;
    max-width: 50%;
}

ul,
li {
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (min-widt: 1200px) {}