* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #e2e5ec;
}

.title {
    text-align: center;
}

.student-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.student-table th {
    background-color: rgb(218, 218, 218);
}

.student-table th,
.student-table td {
    border: 1px solid black;
    padding: 10px 15px;
}

.student-table tbody tr:nth-child(even) {
    background-color: rgb(218, 218, 218);
}

.student-table tfoot {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}