* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e5ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    margin: 20px;
    /* padding: 15px; */
}

.daftar {
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.daftar fieldset {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.daftar legend {
    font-weight: bold;
    padding: 0 10px;
}

.daftar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.daftar label {
    display: block;
    font-weight: lighter;
    margin: 10px;
}

.daftar input,
.daftar select,
.daftar textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.daftar button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.daftar button:hover {
    background-color: #0056b3;
}


.daftar input[type="radio"] {
    width: auto;
}